/* layout DOES include the player's hand */
.table-layout {
  display: flex;
  flex-direction: column;
  align-items: center;         /* centers everything horizontally */
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* .card-count-label{
  display: none !important;
} */

.opponent-hand .card-item {
  pointer-events: none;
}

.top-players {
  display: flex;
  justify-content: space-around;    /* center the hands inside this container */
  width: 100%;
  max-width: 100%;
  height: 20%;
  box-sizing: border-box;
  transform: rotate(180deg);
  transform-origin: center;
}

.middle-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex: 1;
}

.current-player-hand {
  /* margin-bottom: 1.25rem; */
  flex-direction: column;
  display: flex;
  align-items: center;
}

/* Opponent hands containers */
.opponent-hand {
  position: relative;
}

.declaration-pile-red {
  position: fixed;
  left: 70%;
  top: 40%;
}

.declaration-pile-blue {
  position: fixed;
  left: 20%;
  top: 40%;
}

/* Rotation for side players */
.opponent-left {
  transform: rotate(90deg);
  transform-origin: bottom left;
  margin-left: -3em;
  margin-top: -25rem;
}

.opponent-right {
  transform: rotate(-90deg);
  transform-origin: bottom right;
  margin-right: -3em;
  margin-top: -25rem;
}

/* fix to be displayed over the topmost card. lwky only style the size */
.card-count-label {
  position: absolute;
  color: white;
  top: -1rem;
  right: 1.5rem;
  font-size: 7.75rem;
  z-index: 100;
  user-select: none;
  pointer-events: none;
}

.count-dec-pile {
  /* position: fixed; */
  top: 0.5rem;
  right: -1rem;
  font-size: 5rem;
  background-color: #6A6A6A;
  opacity: 95%;
  padding: 30px;
  border-radius: 10%;
}

/* initially show up upside down */
.top-players .card-count-label {
  transform: rotate(180deg);
}

.username-box{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  top: -3.75rem;
  left: 1.75rem;
  width: 15rem;
  height: 2.75rem;
  
  background-color: black;
  color: #6A6A6A;
  font-size: 37px;
  
  border-radius: .5rem;
  /* pointer-events: none; */
  user-select: none;
  text-align: center;
}

.dec-label-box {
  top: 13rem;
  left: 1rem;
  width: 10rem;
}

.username-box.selected {
  box-shadow: 0 0 20px 8px gold;
}


.username-box.top {
  transform: rotate(180deg);
}

.username-box.red {
  background-color: #F7B0B0;
}

.username-box.blue {
  background-color: #93E3E6;
}

.player-username {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  /* top: 5rem; */
  width: 15rem;
  height: 2.75rem;
  
  background-color: #93E3E6;
  color: #6A6A6A;
  font-size: 37px;
  
  border-radius: .5rem;
  pointer-events: none;
  user-select: none;
  text-align: center;
}

.player-username.red {
  background-color: #F7B0B0;
}

.player-username.blue {
  background-color: #93E3E6;
}

.speech-bubble {
  transform: rotate(180deg);
  
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 2rem;

  font-size: 25px;

  border-radius: .5rem;
}

.speech-bubble.ask {
    top: -6.75rem;
    left: 1.75rem;
    width: 15rem;
    height: 2rem;
  
    background-color: black;
}

.speech-bubble.response {
  top: -10rem;
  left: 5rem;
  width: 8rem;
  height: 2rem;
}