@import '@fontsource/cinzel';           /* Regular */
@import '@fontsource/cinzel/700.css';   /* Bolded */
@import '@fontsource/cinzel-decorative/700.css'; /* Title */

:root {
  font-family: 'Cinzel', serif;
  line-height: 1.5;
  font-weight: 700;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #143339;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1.title {
  font-family: 'Cinzel Decorative', serif;
  font-weight: bold;
  margin-top: 10rem;
  font-size: 4rem;
  text-transform: uppercase;
}

button {
  border-radius: 8px;
  border: 1px solid;
  padding: 0.6em 1.2em;
  color: white;
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  background-color: #141414;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
